a {text-decoration: none;}
.li1{
    text-decoration: none;
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
}
.li2{
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
}
.li3{
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
}
.li4{
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
}
.li5{
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
}
.text1{
        font-family: "Raleway";
        font-weight: 500;
        font-style: normal;
        font-size: 48px;
}
.text2{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}.butt1{
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}
.text3{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.text4{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text5{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}
.text6{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text7{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.butt2{
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}
.text8{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}
.text9{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text10{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.text11{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text12{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.text13{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text14{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.text15{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text16{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}
.text17{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text18{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.numb1{
    font-family: "Raleway";
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
}
.text18{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text19{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text20{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text21{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text22{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text23{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text24{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text24{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.numb2{
    font-family: "Raleway";
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
}
.text24{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text25{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text26{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text27{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text28{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text29{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text30{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.numb3{
    font-family: "Raleway";
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
}
.text31{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text32{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text33{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text34{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text35{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text36{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}
.text37{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text38{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text39{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text40{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.name1{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.name2{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.name3{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.spec1{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text41{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}
.text42{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.butt3{
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}
.text43{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}