
a {text-decoration: none;}
.header{
    margin-bottom: 75px;
    background: #000;
    text-decoration: none;
    font-family: "Open Sans";
    font-style: normal;
}
.header__nav{
    display: flex;
    justify-content: space-between;
}
.menu__link{
    padding: 30px 10px 35px;
    display: inline-block;
    width: 114px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #fff;
}
.banner__title{
    width: 670px;
    height: 168px;
    text-transform: uppercase;
    padding-top: 434px;
    margin-left: 170px;
    font-family: "Raleway";
    font-weight: 500;
    font-style: normal;
    font-size: 48px;
}
.banner{
    background: darkgray;
    Width: 1510px;
    height: 1026px;
}

.contaner{
    padding-left: 870px;
    margin-top: -433px;
}

.banner__form{
    width: 470px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.form-inner{
    padding: 30px 50px 75px;
}

.form__row+ .form__row{
    margin-top: 15px;
}

.form-input{
    width: 100%;
    font: 400 14px/19px "Open Sans", serif;
    color: #000;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    padding: 15px 0;
    background: none;
    outline: none;
}

textarea.form-input{
    resize: vertical;
}

.form-input:hover{}
.form-input:disabled{}

.form-input:focus{
    background-color: #fff;
}

.forminput::placeholder{
    color: #BDBDBD;
}

.form__button{
    width: 100%;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    color: #fff;
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    padding: 17px;
    width: 470px;
    height: 60px;
    background: 
    #EC7979;
}

.banner__separator{
    width: 170px;
    margin-left: 170px;
}
.banner__ps{
    width: 270px;
    height: 42px;
    margin-left: 170px;
}
.menu{
    display: flex;
}
.body__main{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.btn1{
    display: inline-block;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    border: 2px solid #fff;
    color: #fff;
    padding: 17px;
    background: none;
    width: 270px;
    height: 60px;
    text-align: center;
    margin-left: 170px;
}
.media{
    background: #F8EFEF;
}
.media__title{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.media__list{
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
}
.tabs__title{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}
.btn2{
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    color: #fff;
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    padding: 17px;
    width: 270px;
    height: 60px;
    background: 
    #EC7979;
}
.text8{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}
.price{
    background: 
    #F5F5F5;
}
.contaner2{
    width: 570px;
    height: 210px;
}
.about__us{
    display: flex;
}
.text10{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.text12{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.text14{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.text16{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}
.text18{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.numb1{
    font-family: "Raleway";
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
}
.text24{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.customers__saying{
    display: flex;
}
.numb2{
    font-family: "Raleway";
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
}
.text30{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.numb3{
    font-family: "Raleway";
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
}
.stil{
    background: rgba(0, 0, 0, 0.5);
}
.text36{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}
.footer{
    background: #000;
    align-items: center;
}
.name1{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.name2{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.name3{
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.spec1{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.text41{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}
.text42{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.btn3{
    display: inline-block;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    border: 2px solid #fff;
    padding: 17px;
    background: none;
    width: 370px;
    height: 60px;
    text-align: center;
}
.text43{
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.footer__icons{
    display: flex;
    align-items: center;
}